.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container > div {
  height: 200px;
  width: 200px;
  background-color: violet;
}

p > span {
  background-color: lightpink;
  margin: 10px;
}

p > a {
  background-color: lightgreen;
  margin: 15px;
}

p > a:hover {
  background-color: lightblue;
}

p + div {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  width: 30vw;
}

footer {
  margin-top: 10px;
  text-transform: lowercase;
  letter-spacing: -1px;
  text-decoration: underline overline;
  text-align: center;
}
